<div style="background: #d2d2d2;">
    <p>&nbsp;</p>
    <p style="text-align: center;"><strong>Sitelytics Status Page</strong></p>
    <h6 style="text-align: center;"><span style="color: #999999;"><em><a href="https://sitelytics.htb">https://sitelytics.htb</a> | phone: 600 123 34532 | mobile: 563 123 12345</em></span></h6>
    <p style="text-align: center;"><span style="color: #999999;"><em>16 Freedom St, Deer Hill<br />58-500, Poland</em></span></p>
    <p style="text-align: center;"><span style="color: #003300;"><a style="color: #003300;" href="https://mail.sitelytics.htb/unsubscribe?confirm=token"><em>Unsubscribe</em></a></span></p>
    <p style="text-align: center;">&nbsp;</p>
</div>